# Backend
backend/venv/
backend/.env
backend/__pycache__/
backend/routes/__pycache__/
*.pyc

# Frontend
frontend/node_modules/
frontend/dist/

# Mobile
mobile/node_modules/
mobile/.expo/
mobile/dist/
**/.gradle/
**/android/.gradle/
**/android/build/
**/android/app/build/

# Misc
.DS_Store
mobile/dist-test/
.idea/
*.db
interview_prep.db


